<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>http://104.42.227.97:8080/job/TreeMap-Locations-ResourceGroups/ws/location-resourcegroup.treemap.html</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>az-ps</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/diag/generate-latest-location-resourcegroup-treemap.ps1
cat /diag/treemap/header.html dataoutput.txt /diag/treemap/footer.html &gt; $WORKSPACE/location-resourcegroup.treemap.html
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
